.idea/
1_first_project/first_project/first_project/__pycache__/
1_first_project/first_project/my_first_app/__pycache__/
2_passing_data_in_url/passing_data_in_url/passing_data_in_url/__pycache__/
2_passing_data_in_url/passing_data_in_url/adder/__pycache__/
3_html_templates/html_templates/html_templates/__pycache__/
3_html_templates/html_templates/mypage/__pycache__/
4_path_converters_and_regular_expressions/path_converters_and_regular_expressions/path_converters_and_regular_expressions/__pycache__/
4_path_converters_and_regular_expressions/path_converters_and_regular_expressions/calculator/__pycache__/
